[2017-11-28 04:49] jeznag opened #1 "Usage instructions"
Dumb question - if I'm using this on CI, would I start my server using a background process and then run cypress?

e.g.
[code]

[2017-11-28 10:25] derfred commented on #1
The cypress command will start the rails process. Therefore just ```bundle exec cypress run``` is all you need.

[2017-11-29 04:08] #1 closed

[2017-11-29 04:08] jeznag commented on #1
Thanks :)

[2017-11-29 04:13] jeznag opened #2 "Seems to generate a cypress directory in the main folder"
![cypress](https://user-images.githubusercontent.com/1034890/33357661-99bf9b26-d517-11e7-9b03-6cfdc084046a.gif)
I run `bundle exec cypress` and it seems to ignore the spec/cypress dir and creates a new one in root dir. The cypress UI dialog uses the tests in the new dir and ignores the ones I have in spec/cypress.

[2017-12-10 11:22] spielhoelle commented on #2
For me the same. /cypress folder gets created when I run the cypress ui.
In addition to this none of the tests are working properly after the initial installation.
My Tests fail with that error in the cypress UI
[code]

And that logs the cypress log in the console.
[code]

[2017-12-10 11:26] spielhoelle opened #3 "Tests failing after initial installation and configuration"
Issue #2 also happens in my project, which maybe causes also my error
`. /cypress` folder gets created when I run the cypress ui. Usually it should take the files in ./spec/cypress

In addition to this none of the tests are working properly after the initial installation.
I tried to compare it with the example project - not successful.

my Tests fail with that error in the cypress UI
[code]

And t

[2018-03-24 15:08] derfred commented on #3
Sorry for the slow response. I have now released a new version, do you want to try again?

I personally have switched to using the ```cy.rails``` approach, as I found it more natural to having the entire test, including setup in one file.

Are you using the scenarios?

[2018-03-25 09:43] spielhoelle commented on #3
I tried it now in my application where I want to switch from cypress.js to your gem version. But now another error occurs:

[code]

When I try the gem in a new sample rails app its like that:

[code]

[2018-03-28 23:17] jersingh opened #5 "uninitialized constant Cypress::Runner::Open3 (NameError)"
I'm getting this when I run "bundle exec cypress":

Traceback (most recent call last):
        5: from /home/me/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `<main>'
        4: from /home/me/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `eval'
        3: from /home/me/.rvm/gems/ruby-2.5.0/bin/cypress:23:in `<main>'
        2: from /home/me/.rvm/gems/ruby-2.5.0/bin/cypress:23:in `loa

[2018-10-18 00:59] theog opened #8 "initial script and error finding executable"
Your documentation suggests running the rails generator for cypress, however this not available and i needed to run:
[code]

once installed, i ran into difficulty with :
[code]

digging a little deeper, i could not located the bin/cypress folder:

[code]

Can you please provide some guidance here.

[2018-10-18 03:39] theog commented on #8
I have resolved this issue by pointing to the actual released version 0.1.2. I'm not clear on home the gem installed was 1.1.1 and seemed to be some dev version.

[2018-10-18 03:39] #8 closed

[2018-10-18 05:57] theog opened #9 "setupScenario returning a response"
I would like to be able to use setupScenario similar to cucumbers background steps. As the setupScenario calls the webrick server. I would like to know if it is possible for the backend to return a json response so i can use the generated factory_bot data in the front end e.g.

[code]

[code]

[2018-10-24 05:18] #9 closed

[2019-05-10 04:47] justin808 opened #11 "Conversion to standard Rails gem naming"
In order to use the proper module name: `cypress_on_rails`, we're going to do the following:

-[ ] Create a new release for cypress-on-rails with the deprecation message that the name is changing
-[ ] Change the references of CypressDev to CypressOnRails, update the Gemspec and related files to indicate version 2.0.
-[ ] Publish new cypress_on_rails gem
-[ ] Update the name of the github repo to c

[2019-05-17 21:09] nathantalewis opened #12 "No LICENSE file, license mentioned in the Readme, or license field in the gemspec"
Please add a mention somewhere of how this gem is licensed.

[2019-05-23 08:03] julianrubisch commented on #9
@theog How did you end up doing it?

[2019-05-29 18:23] yagudaev opened #13 "Mitigate remote code execution attack vector"
It would be really nice if we could limit the remote code execution attack when binding on 0.0.0.0.

This was a huge turn off to see this:

In the README, so much so that I opted to not use this gem and implemented some of the functionality myself in our app. But looking at this gem again, I like a lot of the things you have built and would love to help think about this more.

I'm especially cauti

[2019-05-29 18:34] yagudaev commented on #13
Ok taking a quick look at the code I see where the problem is:

https://github.com/shakacode/cypress-on-rails/blob/master/lib/cypress_dev/command_executor.rb#L9

[code]

If I am reading this right, this allows for any file on the machine to be used to execute ruby code. Adding a restrictions here to only allow loading files from `"#{project_path}/spec/cypress/rails_helpers"` or similar would reall

[2019-05-29 18:57] yagudaev commented on #13
Looking at it even further and discussing with colleagues really quickly.

[code]

This here means that if you have your CORS on rails enabled to be say `*`, anybody can execute code remotely as they please. Which is really scary. We need to make sure those paths don't allow wildcard CORS requests.

[2019-05-30 00:18] grantspeelman commented on #13
Just to add some background on the notice.
When I added the notice what I was really referring to is the eval support:

[eval app_command](https://github.com/shakacode/cypress-on-rails/blob/master/lib/generators/cypress_dev/templates/spec/cypress/app_commands/eval.rb)
[code]

and [cypress function](https://github.com/shakacode/cypress-on-rails/blob/master/lib/generators/cypress_dev/templates/spec/

[2019-05-30 00:22] grantspeelman commented on #13
Limiting files to only be loaded from the configured `cypress_folder` directory is a good idea i think to increasing the security.

[2019-05-30 00:29] grantspeelman commented on #13
We could also look at doing something like a api token that we can be generated on install and is added to [cypress.env.json](https://docs.cypress.io/guides/guides/environment-variables.html#Option-2-cypress-env-json) which cypress can access and is easy enough for the gem to read server side to confirm the token on any request.

[2019-05-30 04:54] yagudaev commented on #13
@grantspeelman thanks for the quick and thoughtful response and building the gem :).

Eliminating the need to do eval would really simplify things. There are other features of cypress-on-rails that can be used to accomplish the same thing like scenarios and helpers.

We can deprecate it more slowly if you would like and turn it off by default on new installs. We can even allow the users to opt-in

[2019-05-30 05:13] yagudaev commented on #12
@grantspeelman can you please add an MIT license to the gem?

If you don't have a license mentioned it means the original author owns all the rights and we cannot modify it and help contribute.

MIT is the simplest and most versatile license there is and always a good sign when you see it on an OSS project.

[2019-05-30 05:15] yagudaev commented on #13
@grantspeelman can you add a license to the project? #12 Pretty please? :)

I would like to try and use this gem, fork it and try spiking on some of the things we talked about above. I can't do that until we have a valid OSS license.

[2019-05-30 06:37] grantspeelman commented on #12
Guess I should of checked this as well before modifying @derfred 's code :)

[2019-05-30 06:50] grantspeelman commented on #2
Hey @jeznag, thanks for the feedback.

I removed the ruby cypress executable since version 1.0, so not sure how `bundle exec cypress` is working unless you are running an earlier version.

Try `bundle update cypress-on-rails` and check the [Usage](https://github.com/shakacode/cypress-on-rails#usage) in the README.md:
[code]

We looking into reintroducing a ruby executable to wrap cypress, similar

[2019-05-30 06:58] grantspeelman commented on #11
+1 on renaming CypressDev to CypressOnRails

to release a whole new gem really worth it?
Possible issues worth considering:
* searching rubygems will return 2 very similar named gems.
* the download count of the new gem will be less than the old gem for a long time
* Wild links on the internet will first take you to the old gem

[2019-05-30 08:42] #3 closed

[2019-05-30 08:43] #5 closed

[2019-05-30 13:49] yagudaev commented on #11
I do think it is worth it for consistency. The new release with a description about the rename will tell people it has been renamed and avoid confusion.

Overtime it should be ok. FactoryBot was renamed from FactoryGirl too. The Ruby community is good at moving forward

[2019-05-30 22:30] grantspeelman commented on #2
Whoops, only noticed now that this is from Nov 2017 and not Nov 2018.
Closing this.

[2019-05-30 22:30] #2 closed

[2019-05-31 07:59] #12 closed

[2019-05-31 13:50] yagudaev commented on #11
Looks like #10 addresses this PR.

Btw, GitHub can automatically redirect to a new repo. So any links directly to the repo from other website will always be correct.

[2019-06-09 01:04] ericraio opened #15 "Scenario Variables"
My application uses Faker and randomly generates new values for FactoryBot.

I currently have a Scenario that does some fresh setup, Is there a way to define a variable here and access it in the tests?

[2019-06-11 01:27] grantspeelman commented on #15
@ericraio can you give an example of what a test would look like?

setting and using variables goes against the grain with Cypress. Cypress kinda expects you to be in control of the data. It might make sense to rather set the values that you care about in the test for example:
[code]

Additional Reading: https://docs.cypress.io/guides/core-concepts/variables-and-aliases.html#Return-Values

[2019-06-13 12:31] eamon-clixifix opened #16 "Include Devise test helpers"
Hello,

I am trying to include the Devise Test helpers so I can login programmatically.
I have added the following code in app_commands/scenarios/my_scenario.rb

[code]

The user is generated fine, but it fails with an error:

[code]
It seems to be because it is not within a class, which I don't have in this case, and even trying to wrap it in one doesn't work .
Has anyone been able to get this to

[2019-06-13 23:15] grantspeelman commented on #16
hmmmm, unfortunately you not able to use `Devise::Test::IntegrationHelpers` as you don't have access to the request, cookies or sessions object which is something that i should add at some point.

As a work around here is what I currently use to login in user.

in routes.rb
[code]

app/controllers/cypress_controller.rb
[code]

in cypress/support/on-rails.js
[code]

examples of usage in cypress spe

[2019-06-14 01:47] ericraio commented on #15
@grantspeelman Thanks for the reply! This makes sense.

I have a multi tenant app that has a lot of setup first before the test can execute, I encapsulated all of this into an app scenario.

However,

Given that I set the values for all the data I care about, I would still need to pass the ID from one factory  to the other factory to have everything be associated properly.

Any suggestions?

[2019-06-14 06:50] grantspeelman commented on #15
you could use the `cy.app` and pass additional information to your scenarios

Example:

in cypress test
[code]

in cypress/scenarios/big_setup.rb
[code]

Will this work for you?

[2019-06-14 08:08] eamon-clixifix commented on #16
Thank you, I will give it a try and let you know

[2019-06-14 20:24] ericraio commented on #15
@grantspeelman This would work great!

We could update the appScenario to something like this. Would this make sense in the generator?

[code]

[2019-06-17 01:38] grantspeelman commented on #15
Yes, that makes sense 👍

[2019-06-20 09:26] spaghetticode opened #20 "Issue with suggested port 5002"
TL;DR: I'm having issues in using the suggested port in the examples `5002`, so it may make sense changing the port number to a less used one.

I'm on OSX, and if I `curl -I localhost:5002` I get
[code]
It seems there's some service already running on that port:
[code]

Doing a google search, port 5002 seems to be related to `radio free ethernet`, and this is documented in the [IANA port list](htt

[2019-06-24 21:21] josephan opened #23 "Serialize and return created factories in response body"
Would it be useful to render the json of the create factory/factories so it can be accessed in the test?
[code]
Currently the `$response.body` value above is just `"success"`:
[code]

If you guys are open to this change I can implement this.

[2019-06-24 21:52] Doctor06 commented on #23
@josephan I would love this. How are you planning on implementing this?
Middle ware is sending the success now. We can change it in there and pass the returned factories just created.

[2019-06-25 05:32] grantspeelman commented on #23
Yes open to this change, could be very useful 👍

We might have to modify the use case just a bit as appFactories takes a list, so the response will be a list

[code]

[2019-06-25 14:10] Doctor06 commented on #23
I overwrote the handle_command in middleware.rb to return json and it worked for me.

[code]

[2019-06-25 16:31] #15 closed

[2019-06-25 23:19] grantspeelman opened #24 "Version 2.0 Multiple gems direction"
So for version 2.0 I was thinking that we could take it a little further than just deprecating `CypressDev`. I think we should actually split this gem up into multiple gems. Looks like everyone wants tighter integration as where when I updated gem I made it more of a starter pack. ie generates a whole lot of files for you and you can modify them as you see fit.

Therefore I see the following new g

[2019-06-25 23:22] grantspeelman commented on #24
@yagudaev and @justin808 let me know what you think.

[2019-06-28 18:21] justin808 commented on #24
* This approach would be like how the rspec gem has several parts
* The main disadvantage to consider would be increased complexity from having different versions of the gems interacting.
* There's no runtime advantage to less code loading since this is only for testing
* The main advantage is that we can have separate issues, PR's, releases for the different parts, which _may_ make it a bit easie

[2019-06-28 21:21] grantspeelman commented on #24
I thought about it a bit more, going as far as having separate gems might not be worth it yet.
We could maybe just have these boundaries internally in the current gem. That might be enough for us to test the idea and it's something we can move to in safe steps 👍

[2019-07-02 21:29] MUTOgen commented on #24
@grantspeelman @justin808 I don't think that splitting gem into several gems would be reasonable right now. Based on my experience with Cypress in Rails, i think the most valuable thing right now is to organize workflow with backend data.

Basically, we have 3 possible sources of data:

1. Direct FactoryBot calls
2. Seeding with Cypress fixtures (json)
3. Seeding with Rails fixtures (yml)

We coul

[2019-07-02 22:40] grantspeelman commented on #24
yes, I think splitting it right now might be too early but starting to have the separation inside the gem is where we could start.

[2019-07-02 23:05] grantspeelman commented on #24
Can you elaborate more on the partly reseting of the DB? is this not something that database_cleaner already provides, ie so won't updating the clean.rb be enough?

Or are you thinking tighter integration with database_cleaner so you can specify it's options from within cypress.

For example
[code]

for the updating data part, maybe something like?

[code]

We could create 2 new issues for these a

[2019-07-03 18:55] MUTOgen commented on #24
@grantspeelman Yeah, your examples looks really good. :thumbsup:

For sure, it could be done by adding some logic to `.rb` files. Dealing with Ruby code each time, to implement such boilerplate operations looks not too easy. So, it looks like good place to improve.

My idea was to provide some clean and simple integration with Cypress. In "perfect world" i could use only `cy` object to handle any

[2019-07-09 15:43] gaboma19 opened #25 "404 on https://qa.myapp.com/__cypress__/command"
Has anyone else encountered getting a 404 on the gem's endpoint? The gem is installed and  setup and everything... I'd appreciate some tips to debug this.

It works on my machine but not in my app's QA environment.

[2019-07-09 23:09] grantspeelman commented on #25
@gaboma19 Are you trying to run cypress against a Rails app running in production mode?
The default is only load cypress-on-rails when running in test mode due possible security implications when having the gem and middleware available on a production app.

You could use cypress without the cypress-on-rails commands (EG `cy.app`,  `cy.appFactories` )
OR
You can move cypress-on-rails gem out of dev

[2019-07-11 07:07] justin808 commented on #23
@josephan If you create a PR, we'll review it ASAP. 😄

[2019-07-11 07:10] justin808 commented on #20
Any suggested port? We're open to a PR to change the default. This is where the default is set:

https://github.com/shakacode/cypress-on-rails/blob/49f1f7b2a912a15142baf137b0ea31a0378c9e92/lib/generators/cypress_on_rails/templates/spec/cypress.json#L2

[code]

[2019-07-11 07:15] justin808 commented on #16
I added this as our first doc file:

https://github.com/shakacode/cypress-on-rails/blob/master/docs/authentication.md

[2019-07-11 07:16] #16 closed

[2019-07-11 07:19] justin808 commented on #13
@yagudaev If you want a submit a pull request to tighten up the security, we'll get it reviewed ASAP.

@grantspeelman and I feel that the gem should not be installed such that it's never used on production, like:

https://github.com/BetterErrors/better_errors#security

[2019-07-11 07:39] justin808 opened #26 "Consider solutions to reseting the database back to some prior state"
Would it be useful if we could seed a database once and then reset it between tests using something like https://github.com/fastmonkeys/stellar?

or is https://github.com/DatabaseCleaner/database_cleaner sufficient for just about any use case?

@MUTOgen wrote:

@grantspeelman wrote:

Can you elaborate more on the partly reseting of the DB? is this not something that database_cleaner already provid

[2019-07-11 07:40] justin808 commented on #24
Moved the database cleaning discussion to https://github.com/shakacode/cypress-on-rails/issues/26

[2019-07-11 08:07] justin808 commented on #24
After a long discussion with @grantspeelman in a zoom call. The major issue with v1 is that too many files are generated and thus any gem upgrades are difficult to apply.

The solution is to create a complementary node package that encapsulates much of what is generated so that the generator just provides the required configuration files, like [cypress_helper.rb](https://github.com/shakacode/cypre

[2019-07-11 13:04] yagudaev commented on #24
I like the idea of the NPM module to encapsulate all the generated commands. Great discussion guys.

Sorry for being late to the party, been busy trying to launch our product at work.

[2019-07-12 18:14] justin808 commented on #24
@yagudaev Please [email me](mailto:justin@shakacode.com) for a slack invite, and we can include you in our next zoom call.

[2019-07-17 08:48] spaghetticode commented on #20
According to [this list](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.txt) there are a few ranges of ports that are not assigned, the closest to the current setting is `5016-5019`, and this [wikipedia page](https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers) seems to confirm it.

[2019-07-17 13:39] badimalex opened #28 "how can i use simplecov gem with cypress-on-rails"
Hi friends.
Can somebody help me please.
It is good idea to initialize simplecov gem
https://github.com/colszowka/simplecov#getting-started
inside
config/initializers/cypress_on_rails.rb
like this
[code]
Thanks for  help.

[2019-07-18 11:04] clivialee opened #30 "Error after clicking on a link"
The link looks like this
[code]

The error in the browser goes
[code]

The rails error log in the terminal goes
[code]

I'm pretty sure the error has nothing to do with the app itself because:
when I click on the same link outside of cypress (in test environment), no error is thrown in either the browser console nor the rails log;
I delete all the code from the corresponding controller action, the

[2019-07-18 20:19] MUTOgen commented on #26
@justin808 @grantspeelman I played a little bit with one client project with Cypress on Rails setup.
Here are some thoughts:

1) For a quite big amount of fixtures, it might take about 10 seconds to load data. I tested it on ~60 `yml` files full of data. So, in case of big Cypress tests coverage, this might be a serious amount of time.

2) I like the idea of this tool https://github.com/fastmonkey

[2019-07-19 09:26] olleolleolle commented on #28
The best way to do it is in the spec_helper (or equivalent test set-up file), as described in the simplecov documentation.

https://github.com/colszowka/simplecov#use-it-with-any-framework

It should not be started in an initializer, that would be "too late" for it to cover all you want to cover.

[2019-07-19 09:28] olleolleolle commented on #28
The question in this Issue is perhaps best asked as a StackOverflow question.

[2019-07-19 09:35] badimalex commented on #28
Thanks, i found answer
https://stackoverflow.com/a/10548281

[code]

[2019-07-19 09:36] #28 closed

[2019-07-20 22:06] grantspeelman commented on #30
@clivialee it sounds like this is an error happening in the browser.
Possibly a javascript error or an error in cypress itself.
Are you using the latest version ([currently 3.4.0](https://docs.cypress.io/guides/references/changelog.html#3-4-0)) of Cypress?

[2019-07-25 08:39] grantspeelman commented on #25
Closing issue due to no response

[2019-07-25 08:39] #25 closed

[2019-07-26 16:44] alexsligar commented on #16
If I want to login to a rails app that uses devise using cy.request(), is this the only method? I've successfully been able to login via the web form and then access protected views, but not with cy.request. I followed the recipe on Cypress for using cy.request() and can see that the session_id is set. However, when I attempt to access a protected page, I am redirected to the login page. I am assu

[2019-07-29 02:07] grantspeelman commented on #16
@alexsligar if you could post example of how your test looks or an example repo of the problem, that could possible help us figure out what is wrong. Unfortunately not able to deduce what the issue could be from the information you have given.

[2019-07-29 16:57] alexsligar commented on #16
I am using a Cypress command:
[code]

Then in my test, I run something like this:

[code]
It successfully calls cy.login() and I can test that the session_id cookie is set. However, it gets redirected to the login page whenever I attempt to visit /building/1/edit. If I instead write the following for my login command, I am not redirected and can access /building/1/edit:

[code]

[2019-07-29 17:00] alexsligar commented on #16
Also, I was able to use the forceLogin() command suggested above and not get redirected. However, I was hoping to avoid adding this into the code base and use cy.request() to login via Devise.

[2019-07-31 07:42] grantspeelman commented on #16
@alexsligar I see, the most likely issue is rails wanting the "authenticity_token". In the cypress controller above you will see `skip_before_action :verify_authenticity_token`

You can set failOnStatusCode to "true" on cypress requests, which will fail the cypress test if the request does not return a success status.

[code]

[2019-08-02 16:03] alexsligar commented on #16
@grantspeelman interestingly, it does not fail. This command returns a 200 status and the _session_id cookie is set. However, it still 302 redirects to /d/users/sign_in upon visiting another page. I can even check for the presence of the _session_id cookie prior to attempting to visit another page and I see it is set.

[2019-08-04 12:38] grantspeelman commented on #16
@alexsligar from my understanding you always get a session cookie any time you interact with rails, even when you are not logged in. Hmmm, I am not sure to be honest. Why is there a `d` in your url?

[code]
Doing the above against our codebase gives a 422 response, which is related to the `authenticity_token`.

[2019-08-09 10:35] ispyropoulos opened #32 "Cannot load factories on CI"
Hello everyone,

I fought about two days trying to debug this issue, but I did not get anywhere. Here's the situation. Everything runs smoothly with green Cypress suite locally, but everything fails on Semaphore CI due to the same error in all my beforeEach blocks.

Here's the Rails server logs extract from the same thing passing locally and then failing on Semaphore.

PASSES LOCALLY
[code]

FAILS

[2019-08-09 20:16] grantspeelman commented on #32
hey @ispyropoulos
unfortunately i can't think of any reason why this is not working on Semaphore 😞

[2019-08-21 16:52] bsodmike commented on #32
I've run into the _exact_ same issue on GoCD 🤯

[2019-08-21 22:11] grantspeelman commented on #32
maybe there is a bug in the file timestamp comparison code.
Try updating your cypress_helper.rb to "always reload" to confirm if that is the case.
EG
[code]

[2019-08-21 22:16] grantspeelman commented on #32
Or maybe the application is not getting started while in the application root.
Try updating your cypress_helper.rb to include the "Rails.root"
EG
[code]

[2019-08-22 05:34] bsodmike commented on #32
This worked, thanks!!

[code]

[2019-08-22 14:32] ispyropoulos commented on #32
Thanks a lot @grantspeelman! I have managed to make my Cypress branch green finally 🙏

I think it'd be a great idea if we could make this change in `master` as well. It may save lots of hours of confusion for some people.

[2019-08-23 03:51] #32 closed

[2019-09-11 20:53] #30 closed

[2019-10-03 10:56] ro-savage commented on #23
Just started using cypress on rails. And not being able to get the data retuned from our factories is making this quite limiting. Would love to see this feature added.

[2019-10-05 22:55] #23 closed

[2019-10-07 00:02] grantspeelman commented on #23
Released a [new version](https://rubygems.org/gems/cypress-on-rails/versions/1.5.0) of cypress on rails that allows you to do this.

It will require updating the cypress support files by running the update generator.
[code]

Then you should be able to do code like this:
[code]

Thanks to @KevinMulhern for getting this going 👍

[2019-10-17 19:49] grantbdev opened #37 "FactoryBot 6.0 deprecation warnings"
FactoryBot 5.1 [deprecated](https://github.com/thoughtbot/factory_bot/releases/tag/v5.1.0) `traits` and `sequences` methods and they are set to be removed in v6. `SmartFactoryWrapper`'s cleaning currently calls the deprecated methods: https://github.com/shakacode/cypress-on-rails/blob/8fc3cfae495f64ff8325aa69452b13e99cda981a/lib/cypress_on_rails/smart_factory_wrapper.rb#L8-L11

This is causing lot

[2019-10-18 00:35] grantspeelman commented on #37
unfortunately we have to continue calling it because I sure there will be many projects that are still using traits and sequences, and we have to clear everything in order for reloading the factories changes to work effectively.

[2019-10-18 00:36] grantspeelman commented on #37
is there a way to silence the warnings?

[2019-10-18 19:49] grantbdev commented on #37
@grantspeelman I haven't had any luck disabling those warnings in particular and I don't want to disable all deprecation warnings.

Since the methods are being removed/moved in an upcoming version anyway, if this gem still needs to call them it may be worth having a conditional to call the new locations. I was hoping it would be as easy as passing `FactoryBot::Internal`, but that only responds to

[2019-11-14 08:23] Zeouterlimits opened #38 "How to handle dependent factories"
Hey,

Thanks for creating and maintaining the library, is very cool to get to leverage existing rails system & tools for cypress.

My question / issue - how do I handle dependent factories?
I have a factory for user for user and project, and am able to use them in ruby tests to create a user and then pass it to the project creation, but how do I do that in my cypress cy.appFactories?

Something li

[2019-11-17 05:56] grantspeelman commented on #38
Maybe?

[code]

Or maybe just hardcode the ids.

[code]

[2019-11-18 07:48] Zeouterlimits commented on #38
Think it has more to do with our factories, but yup, those would probably work in most cases, thanks.

[2019-11-18 07:48] #38 closed

[2019-11-27 03:52] dmitry opened #39 "Remote requests caching"
As a standard to prevent from fetching the data from the remote servers are used the libraries like VCR or puffing-billy when running normal unit tests or specs. Those libraries are used to cache the data after the first request and then on the second run all the requests are stubbed with the data were cached before.

Does anyone thought about the mechanism to stub the data while running the cypre

[2019-11-28 01:44] grantspeelman commented on #39
Would love to see a working example with VCR or puffing-billy, I think others could find something like this useful.

[2019-12-02 06:38] Zeouterlimits opened #40 "Generating rails coverage?"
Has anyone tried using Cypress (/Cypress on rails) to get coverage of rails code?
Would be nice to leverage it, if it were possible.

[2019-12-10 18:20] noccor commented on #2
Hey - I'm actually having this issue. I have two projects using cypress-on-rails... the project I first used this from runs flawlessly... the project I've just added this to.. keeps creating a new spec folder in my Users directory and loading cypress tests from there (unless I provide a full path to the projects spec folder)

Using:
cypress-on-rails 1.5.0
Ruby 2.6.5
Rails 6.0.1

At this point have

[2019-12-11 00:35] grantspeelman commented on #2
hmmmm, not sure what it could be, can you provide some output when running
`bin/rails g cypress_on_rails:install`

[2019-12-11 10:22] noccor commented on #2
Sure:

[code]

[2019-12-13 07:31] grantspeelman commented on #2
@noccor i don't see anything wrong, the default directory for cypress is `spec/cypress`
You can change the default directory like this

[code]

[2019-12-13 20:41] corwinstephen commented on #16
Also experiencing this. @alexsligar, did you ever figure this out?

[2019-12-19 21:24] dmitry commented on #40
@Zeouterlimits from the first point of view it looks simple, just place SimpleCov on the server initialization and that's it. Or I have lost something?

[2019-12-20 01:55] Zeouterlimits commented on #40
The intricacies of SimpleCov are new to me, I'm new to rails, will take a look, thank you :)

[2019-12-23 16:45] Manidavid opened #41 "FactoryBot Trait not registered error"
Hello everyone,
Am trying to use the existing factory bot with traits defined methods but getting Trait not registered error

Please help with document example for using multiple traits from factory bot to handle the object creation

cypress_helper.rb
[code]

factories/users.rb
[code]
i want to use the admin trait for creating user

[code]

Error showing from the rails logs:

[2019-12-23 19:20] grantspeelman commented on #41
Hey @Manidavid

Could you give some details on versions:
* Ruby
* Ruby on Rails
* FactoryBot

[2020-01-09 19:31] antarr commented on #41
I'm having the same problem

[2020-01-13 18:29] Manidavid commented on #41
@grantspeelman, any updates on this would be appropriated

[2020-01-14 11:52] grantspeelman commented on #41
hopefully working on a fix #43

[2020-01-14 17:08] antarr opened #44 "FactoryBot not returning exepected object"
I'm trying to write a spec the uses FactoryBot to create a user. I followed the example in `advanced_factory_bot_spec.js`. But when I print results to the console I get an object instead of an array.

**authentication_spec.js**
[code]

**printed to console**

`{dir_array: Array(16), factory: {…}, always_reload: true, kernel: {…}, file_system: {…}, …}
`

[2020-01-14 20:11] grantspeelman commented on #44
did you make any changes to `cypress/app_commands/factory_bot.rb` ?

[2020-01-14 20:44] grantspeelman commented on #41
can you please try version 1.5.1 and let me know if it fixes this

[2020-01-14 20:53] antarr commented on #44
I don't think so. This is what it looks like

[code]

[2020-01-14 22:02] grantspeelman commented on #44
it should look only be
[code]

because the last thing that is executed is returned

[2020-01-14 22:49] antarr commented on #44
That worked. Thanks

[2020-01-14 22:49] #44 closed

[2020-01-31 07:37] Manidavid commented on #41
Updated cypress gem version to 1.5.1, now the factory bot traits are working great.

[2020-02-02 20:34] #41 closed

[2020-02-14 18:53] chrislabarge opened #45 "Unexpected change to "config/environments/test.rb""
I was not expecting this config file to be changed upon installation.

`config.cache_classes = ENV['CI'].present?`

I think it may beneficial to mention it in the README. Upon deploying, a lot of my Rspec tests failed on CI as I did not have a ENV["CI"] variable defined.

[2020-02-17 05:30] grantspeelman commented on #45
happy to mention it in the README.md

[2020-02-17 05:34] grantspeelman commented on #45
https://github.com/shakacode/cypress-on-rails/commit/6ffcae768b12324fc8fadd34cea006aa0484192c

[2020-02-17 05:34] #45 closed

[2020-03-28 01:37] lorennorman commented on #13
I just read this issue to get caught up, but it's getting a little stale and I'm not sure where things stand. Is this still in consideration?

I happily deleted `eval.rb` and the `appEval` Cypress command in my app, but the `File.read()` and `eval` inside CommandExecutor are glaring at me. I don't see where this was addressed? I don't understand why this is necessary in the first place. The sugges

[2020-04-02 08:54] vfonic commented on #11
For the old gem name you can also add postinstall message that will notify users of existence of the new gem name.

[2020-04-02 09:00] vfonic commented on #11
You should really go ahead and "reserve" `cypress_on_rails` gem name on rubygems (push the same code that's in this gem or push gem boilerplate) right now. Otherwise someone will do it before you and you won't be able to take ownership of that gem name anymore.

[2020-04-04 06:56] vfonic opened #48 "Why does this gem create cypress examples?"
I've noticed that, after I run `bin/rails g cypress_on_rails:install`, I got a lot of cypress-only examples (not related to cypress-on-rails gem).

At first I thought these were somehow related to added functionality of cypress-on-rails and spent some time trying to find out what's added. But it turns out that that's not the case. As far as I can tell, these are just examples of how to use cypress

[2020-04-04 06:59] vfonic commented on #37
One way to add a conditional could be to check if `FactoryBot` gem version is `< 6`:
https://stackoverflow.com/questions/2954279/how-do-you-check-the-gem-version-in-ruby-at-runtime

It doesn't seem like the cleanest solution though. I'm not sure what other gems do in this case.

[2020-04-04 07:29] vfonic commented on #24
Sorry for coming late to the party. :)

I think having all those checks in ruby files for DatabaseCleaner and FactoryBot or FactoryGirl or SmartWrapper, make the code harder to read and harder to maintain.

Couple of examples:

1) Assuming there's no DatabaseCleaner (this gem not depending on DatabaseCleaner) we have to write code like this:
https://github.com/shakacode/cypress-on-rails/blob/maste

[2020-04-04 09:48] vfonic opened #50 "Are app fixtures and scenarios the same?"
I was looking at app fixtures and realized I don't see anything in there that can't be achieved through scenarios.

Why I'm thinking we could remove the app fixtures is to reduce the API size, making the gem easier to use and onboard.

There's already built-in functionality for chaining multiple scenarios:

[code]

We could make scenarios load/depend on each other. Maybe that would do?

Feel free

[2020-04-04 20:03] yagudaev commented on #48
I agree, the examples of cypress ships with are pretty useless and very half-stack. We should get rid of them and replace them with cypress-on-rails specific examples instead.

[2020-04-06 18:03] wjessop commented on #3
@spielhoelle Did you ever solve this? I am having the same issue.

[2020-04-06 22:06] grantspeelman commented on #48
The reason is comes with the Cypress examples is to make it more friendly to newbies of Cypress. Basically Cypress is still pretty new and this gem can be someones first introduction to it, thus both sets of examples are needed.

[2020-04-06 22:10] grantspeelman commented on #50
This first versions of cypress-on-rails came with a concept of scenarios and I wanted to create a easy transition for anyone using it. This is maybe something we can drop in version 2.

[2020-04-06 22:46] grantspeelman commented on #24
@vfonic thanks for you input.
My initial thinking was that the generated files was more of examples of "what you can do" more than actually being part of `cypress-on-rails`. The running of ruby files that are within your cypress directory through `cy.app` is all I was thinking `cypress-on-rails` needed to be. People are using `FactoryBot` and `Fixtures` , even though I don't, so thus the generated

[2020-04-06 22:48] grantspeelman commented on #24
@vfonic on your point number 7
Yes it works and I am currently using it :smile_cat:

[2020-04-06 23:57] spielhoelle commented on #3
No just started using vendor/npm cypress

[2020-04-07 08:28] vfonic commented on #24
@grantspeelman Thanks for the background info! It definitely makes sense.

I see now that `cypress` generates those files when you first run `yarn run cypress` (w/o `cypress-on-rails`).
I think the least surprise here would be if at least this would be written somewhere in the `README`. I favor the option where we explain to end-user (dev) how to create those "what you can do with cypress" files,

[2020-04-07 08:31] vfonic commented on #48
I agree. It would be good to be able to have/generate (not necessarily automatically) both sets of examples.

I've replied in more detail here: https://github.com/shakacode/cypress-on-rails/issues/24

[2020-04-08 05:32] grantspeelman commented on #48
I guess we could ask the question in the generator on whether or not they want the examples. Should  cater for both the newbie and pro.

[2020-04-08 05:42] grantspeelman commented on #24
Yes, this is the plan for version 2.
* Pull the ruby generated files into the gem
* Have a matching npm package to support a more rich experience

This will allow a more integrated ("Just Works") experience with the various "tools".
"tools" being thinks like `ActiveRecord`, `DatabaseCleaner`, `FactoryBot`, `ActionMailer`, etc

This all said, pulling so many projects together and keeping update wit

[2020-04-08 06:59] vfonic commented on #24
Thank you for your work!

Maybe we can still ship v2 having everything in one gem? There are really not that many files. It would be a big overhead.
I think having these files pulled into the gem would already do wonders. We could have some predefined commands that would be defined in the gem. I'd just advise that by then we make sure that these commands have some limits in terms of what they can

[2020-04-08 23:19] #20 closed

[2020-04-09 06:01] #40 closed

[2020-04-12 20:01] jon-eckstein opened #52 "Trying to run on Semaphore CI and getting a Seg fault"
This is a long shot, but, I'm trying to get Cypress with `cypress-on-rails` running in a CI environment.  The webserver + Cypress is running on a Linux/Ubuntu VM.  Cypress doesn't get very far, it'll get to the first time I'm creating a factory (either with scenarios or `cy.appFactories`, and will fail with a Segmentation fault described below.  Interestingly, `cy.app('clean')` doesn't cause the e

[2020-04-14 07:23] grantspeelman commented on #52
Can't help you much with Segmentation faults.
I would suggest  trying the latest ruby 2.5 version of Ruby 2.5.7

[2020-04-23 00:32] michelson opened #57 "Danger, I think I found a vulnerability"
Hi , it seems that the cypress configuration for middleware defaults to `true`
https://github.com/shakacode/cypress-on-rails/blob/master/lib/cypress_on_rails/configuration.rb#L10

I've added the configuration on the initializer but the railitie runs first, so the setting is always true !. This is a serious vulnerability.

The Railtie has to initialize the configuration on `after_initializer` , ins

[2020-04-23 01:25] grantspeelman commented on #57
awesome, think you can create PR out of your suggestion please?

[2020-04-23 20:57] stoplion commented on #44
I'm only getting a `req` object back from Factories. There is no data returned.

[2020-04-24 00:01] stoplion opened #59 "Errors creating Factory"
- Running Rails in test env √
- Latest cypress-on-rails √

Errors When creating a factory ...

[code]

Stack Trace:

[code]

POST
[code]

USER

[code]

[2020-04-24 21:09] grantspeelman commented on #44
hi @stoplion

can you share you `factory_bot` files and the out of what you see in cypress.

[2020-04-24 21:13] grantspeelman commented on #59
You have to change:

[code]

to

[code]

[2020-04-26 03:10] #59 closed

[2020-04-26 04:04] stoplion opened #60 "Create factories in one go with different values?"
Hello,

Is this the correct syntax to create several factories in one go?
Or is there some variant of `create_list`where I can pass different values to each factory?
[code]

[2020-04-27 21:45] grantspeelman commented on #60
yes, basically correct but you are missing a comma after the first create

[code]

[2020-05-12 21:54] stoplion opened #61 "cypress-on-rails on Github Actions"
Hello..

Are there any guides for getting `cypress-on-rails` to run on `Github Actions`?

Merging together actions from RoR and the [official Cypress Action](https://github.com/cypress-io/github-action)

[code]

Things bomb out at the `Run Cypress Tests` step..

[code]

[2020-05-15 02:34] grantspeelman commented on #61
unfortunately we don't have any guides :(
Sorry

[2020-05-25 07:55] duytd commented on #57
This is a serious issue...

[2020-06-03 17:40] pui opened #63 "Why does calling a method on a factory instance return nil?"
I'm specifically trying to get the Devise raw forgot password token to test my forgot password flow.

[code]

`send_reset_password_instructions` returns the raw forgot password token, but when I run this code I see `/users/password/edit?reset_password_token=undefined`. Is there a way to get the return value of a method call on a factory instance?

[2020-06-05 01:36] grantspeelman commented on #63
i think `send_reset_password_instructions` is a method call on ruby and unfortunately you cannot call ruby methods from within cypress, what gets sent back to cypress is only the attributes of the record.

[2020-06-05 01:51] grantspeelman commented on #63
You could call the method on ruby side and return it to cypress with something like this:

[code]

then in your cypress test
[code]
Note: untested :smiley_cat:

[2020-06-12 21:26] #63 closed

[2020-06-15 23:10] pui commented on #63
This worked. Thank you!

[2020-07-13 19:06] ogdenstudios opened #65 "`use_middleware` on development with edge Rails"
Hey everyone,

I'm not entirely sure if I found a bug, if I shot myself in the foot, or if things were accidentally working before when they should not have.

I'm building an app and bundling edge rails with `gem 'rails', github: 'rails/rails'` in my `Gemfile`.

I'm using cypress-on-rails in test *and* development. Perhaps this is where I initially went wrong. One way or another, I was using the g

[2020-07-14 20:48] grantspeelman commented on #65
thanks @ogdenstudios for all the details and apologizes for causing any issues.

`use_middleware` is a flag that is suppose to make it possible to effectively turn off cypress-on-rails even though the gem is loaded.
#62 actually made it start working. So i guess in a sense the right answer could of been to rather deprecate it as it was never working in the first place, maybe if it gave it a bit mo

[2020-07-14 20:53] ogdenstudios commented on #65
It does! I've got a good sense of what happened. Thanks, again!

[2020-07-14 20:53] #65 closed

[2020-07-15 00:07] #61 closed

[2020-07-15 00:07] #60 closed

[2020-07-15 00:08] #57 closed

[2020-07-15 00:08] #52 closed

[2020-07-15 00:09] #39 closed

[2020-07-23 03:03] udovenko opened #66 "Traits/callbacks/sequences are not cleared for FactoryBot 6+"
FactoryBot has deprecated a number of top level methods in v5.1.0: https://github.com/thoughtbot/factory_bot/blob/master/NEWS.md#510-september-21-2019. Those methods include `.traits`, `.callbacks` and `.sequences`, which are used by `FactoryCleaner` module.

In FactoryBot v6.0.0 mentioned methods were removed form top namespace: https://github.com/thoughtbot/factory_bot/blob/master/NEWS.md#600-ju

[2020-07-24 01:54] grantspeelman commented on #66
Will look at applying this in the meantime. Also left a feature request at FactoryBot. https://github.com/thoughtbot/factory_bot/issues/1429

[2020-07-24 01:55] grantspeelman commented on #37
Any further discussion to be on #66

[2020-07-24 01:55] #37 closed

[2020-07-24 02:42] #66 closed

[2020-07-25 11:04] #50 closed

[2020-07-25 11:05] #26 closed

[2020-07-30 01:01] jondkinney commented on #61
@stoplion your snippet actually got me a good bit further than I had found anywhere else. Here's what ultimately ended up working for me:

[code]

[2020-08-06 09:29] mapreal19 commented on #16
@grantspeelman are you sure the login is successful? You can log the flash in an after_action filter to check if the login is working:

[code]

What I've found is that you're not sending the body correctly. `'user["email"]'` --> `'user[email]'`

Using this command with a Rails + Devise app I'm able to login and visit other pages:

[code]

[2020-08-06 10:16] grantspeelman commented on #16
good spot on the quotes inside the body params :+1:

[2020-08-07 08:41] mapreal19 commented on #16
@grantspeelman ;) I guess that this way should go into the docs. Less code and it's the recommended way for Cypress:

https://docs.cypress.io/guides/getting-started/testing-your-app.html#Bypassing-your-UI

cc @justin808

[2020-08-12 00:42] yagudaev commented on #48
@grantspeelman I propose we do get rid of examples that are not rails specific. I've spent a few days digging into rails generators in general to improve workflow on my team. I essentially overwrote the rails generators and extended them so that running

[code]

This create much more useful generators. It does require something like

[code]

I'll try to wrap it all up in an article about generator

[2020-08-12 02:24] grantspeelman commented on #48
I still learning towards making it easier for beginners of cypress.

You can disable the cypress examples with a flag `--no-install-cypress-examples`.
If we add that to the README.md would that be good enough?

[2020-08-12 08:46] vfonic commented on #48
First version ([v0.1.0](https://www.npmjs.com/package/cypress/v/0.1.0)) of Cypress is 5 years old and [v1](https://www.npmjs.com/package/cypress/v/0.1.0) is 3 years old. In JS world, I'd call that old, not new. It also has 6.5M downloads a month. It's pretty well established.

On the other hand, in Rails world, many people will add Cypress on existing project. And although many of those people wil

[2020-08-17 21:12] stoplion commented on #25
Same issue, is this route suppose to be there by default?
`RAILS_ENV=test rake routes | grep cypress`
No `command` route.

[2020-08-18 03:00] grantspeelman commented on #25
it is not a `route`, it's middleware

[2020-08-18 03:02] grantspeelman commented on #25
Make sure to check you `cypress_on_rails.rb` initializer and make sure `use_middleware` is enabled for your environment.

[2020-08-21 00:47] grantspeelman commented on #48
even though old in JS world terms, it's not old in people terms.
That said, think I'll make it optional and add to the README telling people how to generate the examples if they are new to cypress.

[2020-09-01 20:13] justin808 commented on #24
@vfonic Let me know if you'd like to give us a hand.

Feel free to join our Slack and DM me with this link: [Slack Invite](https://join.slack.com/t/reactrails/shared_invite/enQtNjY3NTczMjczNzYxLTlmYjdiZmY3MTVlMzU2YWE0OWM0MzNiZDI0MzdkZGFiZTFkYTFkOGVjODBmOWEyYWQ3MzA2NGE1YWJjNmVlMGE)

[2020-10-18 15:31] incorvia opened #69 "Closed Stream"
I intermittently but frequently run into an error:

[code]

I've tracked it down to the eval call in CommandExecutor on line 9. This is evaling a command I've provided that simply creates an object in the database using an Account.create method and shouldn't in any way cause an error like this.. I don't know if it's the server connection that is closing or a connection to the database or what..

H

[2020-10-18 19:29] grantspeelman commented on #69
Unfortunately i have not come across an error like this before.
Are you doing any file or network calls when creating an Account? Maybe worth trying to do disable those and see if the problem continues.

[2020-12-07 12:22] kortirso opened #71 "[Question] Running cypress test with elasticsearch"
Our Rails app uses elasticsearch and we are integrating cypress for integration tests
gem 'elasticsearch-model'
gem 'cypress-on-rails'

is there any best-practice examples how can we run test cluster of elasticsearch Elasticsearch::Extensions::Test::Cluster.start before all cypress tests and stop it after all tests?

right now I added Elasticsearch::Extensions::Test::Cluster.start to cypress helpe

[2020-12-07 20:29] grantspeelman commented on #71
@kortirso no examples of this that i am aware of.
Can i ask though why must the rails server start elasticsearch?

We usually start all services (like postgresql and redis) before we start the rails server. I would most likely do the same with elasticsearch.

[2020-12-07 22:31] yagudaev commented on #71
Same here we use elastic search through searchkick. We actually have a `Procfile.test` that we run like `heroku local -f Procfile.test` which includes running any other services locally.

Locally I would just run elasticsearch through `brew services`. On CI, there is a docker image for ES you can use, I've had some issues with memory usage on JVM on CircleCI sometimes. We've switched to Buildkite

[2020-12-11 07:49] kortirso commented on #71
thanks,
so in general we run everything with Procfile
rails s -e test
elasticsearch

with env file that tells use development port of elasticsearch for test rails environment
and indexing models in cypress seeds

[2020-12-11 07:49] #71 closed

[2021-01-08 13:26] feliperaul opened #74 "Get assertions back from the Rails app"
First of all, a huge *thank you* to the maintainers of this gem. It's been transformative to use Cypress for system testing!

In some cases, I'd like to run my cypress test and then make an assertion using ruby (for instance, if a model was created, or an e-mail was fired, so on).

What would be the recommended way of accomplishing this? I know that cypress commands communicate with the rails test

[2021-01-09 22:42] grantspeelman commented on #74
unfortunately there is currently easy/elegant way to do assertions on the rails backend.

What you could possible do is call the backend and get it to return data that you want to check and make assertions on it in cypress.

Example:

[code]

[code]

I hope this helps 😸

[2021-01-14 19:07] feliperaul commented on #74
@grantspeelman It helped a lot! Do you want me to issue a pull request for adding this to the documentation? I'm asking because I wouldn't change a thing (your example is perfect).

[2021-01-14 23:17] grantspeelman commented on #74
awesome, a PR sounds good. Thank you

[2021-01-15 00:54] #74 closed

[2021-02-06 22:09] grantspeelman commented on #69
@incorvia did you figure this out?

[2021-02-07 14:32] pustomytnyk opened #76 "Install generator don't work with the current version of Yarn 2"
Seem that the `--silent` option raises `Unknown Syntax Error` in the current version of Yarn 2, so `rails g cypress_on_rails:install --install_cypress_with=yarn` fails if I use yarn 2.

[2021-02-07 20:29] grantspeelman commented on #76
thank you for reporting @pustomytnyk , I am busying removing "--silent".

[2021-02-07 23:00] #76 closed

[2021-02-07 23:00] #69 closed

[2021-02-19 23:41] stevenpetryk opened #78 "TypeScript typings"
Howdy, would you be open to giving the generator the ability to generate TypeScript declarations in addition to the JS code it already generates? It would be handy because it would give some editors autocomplete when typing things like `cy.appFactories`.

Could be something opt-in like this:

[code]

I've taken a stab at making some basic types. I could work on it more and add them as a PR, if you

[2021-02-19 23:45] stevenpetryk commented on #78
In retrospect, it might be better to add it to DefinitelyTyped—that way users don't have to generate any code to stay up-to-date with the gem.

[2021-02-20 03:07] grantspeelman commented on #78
This looks like a create start. I am definitely open to a PR 👍🏽

[2021-02-22 23:01] yagudaev commented on #78
That leads to a good question if we should have the javascript portion, the custom commands inside of its own NPM module that way it is always up-to-date and users don't need to regenerate the assets.

[2021-02-23 00:45] grantspeelman commented on #78
Yes, after some discussion, that is part of the idea for Version 2 https://github.com/shakacode/cypress-on-rails/issues/24#issuecomment-610762755
Finding the time to do it is another question 😄

[2021-03-01 01:55] #48 closed

[2021-03-15 00:56] grantspeelman opened #80 "Allow logging in with devise"
Make Authenticating a User https://github.com/shakacode/cypress-on-rails/blob/master/docs/authentication.md part of the gem.

Using Rails engines we can make the following work out of the box.

[code]

If the login fails we should display a readable error message

[2021-03-15 01:33] grantspeelman opened #81 "Allow Emails to be view using actionmailer test deliveries"
It's possible to add emails into test flows using actionmailer test deliveries.

The core code below:

config/initializers/cypress_on_rails.rb
[code]

routes.rb
[code]

app/controllers/cypress_controller.rb
[code]
app/views/cypress/view_email
[code]

This needs to be converted to work automatically and README example needs to be added

[2021-04-25 09:16] hamzaaltaf opened #83 "Cypress fails test with CSRF attack even when authenticity_token: true is in the form_for."
I am stuck on this issue for almost two days now.

This is the form that I am using
[code]

here are the parameters that are passed to the controller.

[code]

Here is Controller Code:

[code]
Lastly this the test code.
[code]
Cyprus shows this error.

[2021-04-26 01:40] grantspeelman commented on #83
@hamzaaltaf So sorry to here you have been struggling 😿
I'll do my best to help you 👍🏽

* which version of cypress are you using? have you try upgrading to the latest version already?
* What step does your test fail on?
* can you share a video of the test?
* what does the component method do?

[2021-04-26 14:12] hamzaaltaf commented on #83
I can share for sure sir. Thanks a lot.

[2021-05-18 08:57] justin808 commented on #83
This sounds application-specific, rather than cypress-on-rails specific.

[2021-05-20 06:00] grantspeelman commented on #83
@hamzaaltaf closing this as we have not heard from you.

[2021-05-20 06:00] #83 closed

[2021-06-26 07:52] gsouf commented on #26
@MUTOgen did you find a solution to be able to use transaction strategy with this gem?

[2021-06-26 09:33] MUTOgen commented on #26
@gsouf Not really.
Actually, I use `truncation` strategy most of the time.
Do you have any reasons to do only `transaction`?

[2021-06-30 17:11] deemaagog opened #85 "Mock/stub rails method"
Hi! At first thanks a lot for that awesome library!

Rails newbie here. I have a method in my application
[code]

Usually it returns false, but I want it to be true  in some scenarios when I call cy.visit().
I tried to create command with following code
`Dashboard::BaseController.any_instance.stubs(:direct_request?).returns(true)` and call it in my test cy.app('set_direct_request')  but it doesn't

[2021-06-30 23:59] grantspeelman commented on #85
Unfortunately, currently there is no way to stub methods 😿

It's a pretty tricky thing to do and hopefully someone one day will figure it out 🙏🏽

I the meantime you could look at using a "flag"

[code]

set_direct_request.rb
[code]

in cypress
[code]

[2021-07-01 16:37] gsouf commented on #26
@MUTOgen transaction is much faster for my use case. With rails test I use it to make everything faster.

It seems like that somehow [this other gem](https://github.com/testdouble/cypress-rails) has a way to do it using a "transactional server", not sure if it works well I have never tested

[2021-07-01 21:46] grantspeelman commented on #26
hmmm, that is very interesting. I wonder how they manage to get a shared transaction scope across multiple connections.
I'll try and look into this at some point.

[2021-07-29 15:05] elyngved commented on #39
Has anyone figured out a nice way to do this? I'm using VCR in rspec and would like to use it with Cypress too. But I don't know if there's a good way to wrap a single test in a Ruby block, or if I can use before/after hooks to "enable" and "disable" recording.

[2021-08-24 20:46] ccrockett opened #88 "getting `tail: invalid option -- 'r'` in rails server output while running cypress tests"
When running cypress tests and having this gem installed on Ubuntu linux, I get the following errors in the output of the rails server when a test fails:
[code]

There is no `-r` option in GNU tail command that is an extension in the BSD tail command

[2021-08-24 22:44] grantspeelman commented on #88
It would of generated a file called `cypress/app_commands/log_fail.rb`
You will see the `tail` command in there and can update it or simply comment it out.

I might comment out the `tail` by default as it's currently difficult to find a single command that will work on Mac,Windows and the various Linux variants.

[2021-09-21 07:21] sonianand11 commented on #25
I have faced the same issue, in config/initializer/cypress_on_rails.rb my cypress directory path was wrong and I was running rails server in development env. So rails s -e test fixes the issue.

Hope this helps!

[2021-10-05 17:39] feliperaul opened #90 "How to use absolute imports in cypress files"
We use the default `webpack.yml` config in Rails pointing `source_path: app/javascript`.

This allows us to use absolute imports from that folder, like `import SomeModule from 'some/folder'`, where `some_folder/file` would be `app/javascript/some_folder/file.js`;

However, in trying to do so within Cypress, we only managed to work with relative imports, because Cypress tries to find them from with

[2021-10-05 19:10] feliperaul commented on #90
Managed to find a solution. Add this to your cypress/plugins/index.js file:

[code]

[2021-10-05 19:10] #90 closed

[2021-10-05 21:43] #88 closed

[2021-10-05 21:44] #85 closed

[2021-10-10 15:33] feliperaul opened #91 "Rails 6.1 `stack level too deep` if used alongside DatabaseCleaner"
Took the weekend to upgrade an app from Rails 5.2 to Rails 6.1.

On cypress/support/index.js, we have a `cy.app('clean_database');` call; in clean_database.rb, we have:

[code]

The exception we're getting is `stack level too deep`; tracking this down, the exception occurs when we call `results.to_json` in `lib/cypress_on_rails/middleware.rb#handle_command`.

On rails 5.2, results was an array wit

[2021-10-10 20:29] feliperaul commented on #91
I obviously wasn't think straight when I opened this.

cypress-on-rails will try to render as json the return of the command called.

It was a simple matter of making our `clean_database.rb` return `true` in the last line, instead of returning the call to DatabaseCleaner.clean.

So instead of

[code]

Just

[code]

[2021-10-10 20:29] #91 closed

[2021-12-14 22:50] andretgregorio opened #92 "Stubbing requests from Rails server"
Hello, there.

Thanks for writing and maintaining this lib. This is some awesome work.

I'm currently trying to integrate it with my Rails app, and I've found a situation that I don't know how to work around.
My Rails app has to call some 3rd party services using standard HTTP requests. In our tests that run in rspec we can just stub those requests and provide the response body we want. But since

[2021-12-15 04:51] grantspeelman commented on #92
Unfortunately this is not something that is possible currently. This is very similar request to #39 that would like to use VCR.

Closest I can give you to a solution is what we do at my company.
We basically create gem wrappers around any third party services that needs to be interacted with, then we add a "test mode" to the gem, which basically just returns hard coded results.

Here is an example

[2021-12-15 16:59] MUTOgen commented on #92
Hey @andretgregorio @grantspeelman
I'm working on exact same problem, and I'd like to make it possible to use VCR for that purpose.
I pushed my draft here https://github.com/shakacode/cypress-on-rails/pull/93
Please, feel free to comment

[2022-01-01 23:23] bendelonlee opened #94 "Sequence trouble"
Thanks for creating factory bot cypress!

## The Problem
Noticing some unexpected behavior for sequences in a test scenario.

`create_list` works as expected:

[code]
This does not:
[code]

It can lead to a lot of boilerplate test setup needing to be added when dealing with items with associations that have uniqueness validators.

## My config

My cypress-on-rails version is 1.11.0 (latest).
My fa

[2022-01-02 07:00] grantspeelman commented on #94
Yes, I have the same experience when using sequences. Currently we prefer to something like https://github.com/faker-ruby/faker for our factories instead of sequences.

Maybe what you could try is in your `cypress_helper.rb` change
[code]
to
[code]

then in your `clean.rb` add
[code]

Let me know if this gives you the desired results. If it does, maybe I'll see about tweaking the code to make this

[2022-01-02 22:32] bendelonlee commented on #94
Thanks for the quick response!

[code]

When I put FactoryBot.reload in `clean.rb`, unfortunately I get an error after the second test run:

[code]

[2022-01-03 01:16] grantspeelman commented on #94
can you please give the `factory-bot-sequences` #95 branch a try.

in your `Gemfile`
[code]

then in your `clean.rb` instead of `FactoryBot.reload` use ` CypressOnRails::SmartFactoryWrapper.reload`

[2022-01-03 05:34] bendelonlee commented on #94
I tried it and it works exactly as expected!

[2022-01-03 17:10] bendelonlee commented on #94
Will you be merging this branch in as a fix?

[2022-01-03 22:33] grantspeelman commented on #94
That's great news. I'll get this merged 👍🏽 .
Thank you for your help, i might even start using sequences now again 😄

[2022-01-06 20:20] bendelonlee commented on #94
Sorry to report, the fix is flaky in a weird way.

When it works it works repeatedly, ie hitting
![image](https://user-images.githubusercontent.com/41645771/148417164-7d98c4f4-d7d8-43ac-8231-b2474256dd5b.png)
will consistently lead to success.

But then I'll edit either the test, the setup, or the code under test and will get an error like

```Validation failed: Item name Item 1 already exists```

[2022-01-06 22:41] grantspeelman commented on #94
@bendelonlee can you check the log file to see how the factories are getting reloaded.
You should see "Loading Factories" each time the factories are reloaded.

I'll investigate some more in the meantime.

[2022-01-06 22:44] chasedeanda opened #97 "Override FactoryBot association with cy.appFactories result"
In the [FactoryBot docs](https://github.com/thoughtbot/factory_bot/blob/master/GETTING_STARTED.md#association-overrides) they give a simple example on overriding associations by passing an existing one into the create command:
[code]

My attempt to recreate this in Cypress:
[code]

The command to build the post fails because `author` is returned as json and is not actually an instance of Author wh

[2022-01-06 22:55] grantspeelman commented on #94
can you please give the `reload-tweaks` #98 branch a try.

in your `Gemfile`
[code]

[2022-01-07 00:38] grantspeelman commented on #97
unfortunately you cannot access `associations` like that from Cypress.

You can either setup associations by setting the foreign key directly or by using `transient` attributes.

[2022-01-07 00:43] grantspeelman commented on #97
Example of using foreign key

[code]

then in Cypress
[code]

[2022-01-07 00:45] grantspeelman commented on #97
Example of transient attributes (My Preferred Approach)

[code]

then in Cypress
[code]

[2022-01-07 01:33] grantspeelman commented on #97
figured out a third way by using nested_atttributes 😃

Turn these into official docs : https://github.com/shakacode/cypress-on-rails/blob/ee2fcf447ba770efe55c9dcaf908acad0cc787e1/docs/factory_bot_associations.md

Let me know if one of these ways works for you.

[2022-01-07 17:31] chasedeanda commented on #97
@grantspeelman Awesome I appreciate your quick response and detailed examples! I like your transient attributes approach, I think we can update our factories to make that work!

[2022-01-07 17:31] #97 closed

[2022-01-12 07:51] grantspeelman commented on #94
I have merged the branch and released a new version. Hopefully this fixes the issue for you 👍🏽

[2022-01-12 07:51] #94 closed

[2022-01-12 15:46] bendelonlee commented on #94
👍

I haven't had time to thoroughly test whether the flakiness is gone. Takes time because I wasn't able to reproduce reliably. Thanks for the fix! I'll let you know either way

[2022-01-27 21:08] mmbarness commented on #92
Curious about what progress has been made on this! Haven't used VCR, but I like the way it seems to work, and I definitely need some way of stubbing before I'm able to implement cypress-on-rails at work.

[2022-02-04 14:03] VadymBoguslavsky opened #102 "Error with running using_scenarios_spec.js"
![Снимок экрана 2022-02-04 в 16 00 33](https://user-images.githubusercontent.com/22998957/152541536-6cf9c31b-0d85-4ec8-aad2-d3ed150e8b8c.png)

What can i do to fix this error? All i have done is installed cypress-on-rails and run it locally

It seems that something failed in the appCommands function

[code]

[2022-02-05 05:44] grantspeelman commented on #102
i see it's returning a `404` status ... maybe it can't find the `clean.rb` file.  Is `clean.rb` still in the `cypress/app_commands` folder?

[2022-02-06 15:48] VadymBoguslavsky commented on #102
Yes. `clean.rb `is still there.
I have tried to remove `if` in cypress AppCommands
[code]

And logically there is no error anymore. but after that i discovered that `clean.rb`, and other commands that defined in  app commands like `appFactories` or `appScenarios` not working and i cant understand why.
Also i define and use it  like :
[code]

And my scenario is
[code]

Ad, shop, invoice already def

[2022-02-07 07:17] grantspeelman commented on #102
hmmm, i guess the other possibility is that the middleware is not enabled and that is why you are getting a `404` error.

in you `cypress_on_rails.rb` initializer is `use_middleware` set to true?

[2022-02-07 13:59] VadymBoguslavsky commented on #102
yes, this is my `cypress_on_rails.rb` file
[code]

[2022-02-07 19:27] grantspeelman commented on #102
Can you share the output of the browser console when you click on "Print to console" please.

[2022-02-08 09:25] VadymBoguslavsky commented on #102
![Снимок экрана 2022-02-08 в 11 24 58](https://user-images.githubusercontent.com/22998957/152957246-5f3990b4-9668-4617-811a-33c6dbcc1bb3.png)

[2022-02-08 09:26] VadymBoguslavsky commented on #102
Its an error with default test `using_scenarios`

[2022-02-08 16:59] grantspeelman commented on #102
You should be able to expand the "Applied to" output in the printed console output. That is the body of the http request. Hopefully you can see something in it that can be a clue on why it's not working. Feel free to share it here as well.

[2022-02-09 13:27] VadymBoguslavsky commented on #102
![Снимок экрана 2022-02-09 в 15 27 26](https://user-images.githubusercontent.com/22998957/153210588-d12af03b-61b0-4154-a896-b173bcbbca41.png)

[2022-02-09 22:12] grantspeelman commented on #102
Can you share the full "Response Body" please

[2022-03-07 21:25] mlabarca commented on #92
It would really be great to see #93 getting merged in some form, this is still a bit of a pain

[2022-03-07 22:40] mmbarness commented on #92
^^^^^^

[2022-03-08 05:10] grantspeelman commented on #92
Be good if someone give the new feature a test :)

https://github.com/shakacode/cypress-on-rails#expermintal-features-matching-npm-package

It's not released as a version yet to make sure to put you Gemfile at github and hopefully following the instructions in the README will get you setup.

[code]

[2022-03-08 19:36] mmbarness commented on #92
I'm planning on getting into it, hopefully this week

[2022-03-09 22:35] #102 closed

[2022-03-09 22:36] grantspeelman commented on #92
@mlabarca can you check if you starting the server with only 1 process, ie if you are using puma you can only have 1 worker.
I might have to make a note of the in the README

[2022-03-10 03:40] grantspeelman commented on #92
Did some more testing myself as well, and seems VCR only works well when doing single worker and single thread.

I have made some updates to the [README](https://github.com/shakacode/cypress-on-rails#setup) and updated the code to turn VCR on and off between inserts and ejects.

Please let me know if you get better results with the updates and using puma in single worker and single thread mode.

[2022-03-10 16:40] mlabarca commented on #92
@grantspeelman Hey there, I tested changing things with puma and effectively starting puma with 1 worker and 1 thread improved this and made this behave as standard as vcr in rspec. But after i upgraded to the last commit ([b0311e7](https://github.com/shakacode/cypress-on-rails/commit/b0311e704e9cab1f7ebe6cd88cfdd677dab19e15)) VCR seems is not picking up my configuration in cypress_helper.rb; so i

[2022-03-10 20:05] grantspeelman commented on #92
cool, i'll update the code to only enable and disable webmock if that is what VCR is hooked into.
thx for all the help @mlabarca

[2022-03-15 19:12] bphelps16 commented on #15
@grantspeelman @ericraio Is this solution still relevant? I am trying to implement this in my app, but am getting an error that `command_options` is nil: `message: "undefined method `fetch' for nil:NilClass", class: 'NoMethodError'`. In looking at the code, it doesn't look like the `command_options` variable is being returned anywhere, so I'm not sure if that has changed since this post.

[2022-03-15 21:35] grantspeelman commented on #15
@bphelps16 You error message looks like a ruby error. Can't tell exactly what is wrong from that. Can you give more context?
Like what the cypress code looks like and what the factory looks like.

[2022-03-15 21:43] bphelps16 commented on #15
Hi @grantspeelman! Yeah, so my `spec` file looks something like this
[code]
the `user_can_load_portal` scenario looks like this
[code]

The system seems to error out on `command_options.fetch` as it's returning `nil` for `command_options`

[2022-03-15 22:17] grantspeelman commented on #15
@bphelps16 hmmmm 🤔

Can you also share what the `appScenario` command looks in `cypress/support/on-rails.js` and what version of `cypress-on-rails` you are using please.

[2022-03-15 22:22] bphelps16 commented on #15
@grantspeelman Thats the problem! I had added the below to `commands.js`
[code]
but I think i need to change our `on-rails.js` because currently it looks like this
[code]

`cypress-on-rails` version `cypress-on-rails (1.12.1)` btw

[2022-04-06 22:25] grantspeelman commented on #39
@dmitry & @elyngved i started a discussion #106 around this issue and would like your input on this and how you currently working around this.

[2022-04-06 22:26] grantspeelman commented on #92
@mlabarca & @mmbarness & @MUTOgen & @andretgregorio i started a discussion #106 around this issue and would love your input on this and how you currently working around this.

[2022-06-04 09:46] alec-c4 opened #107 "cypress 10"
Hi!
Please update to support cypress 10:
- cypress/integration now is cypress/e2e
- cypress.json -> cypress.config.js
- cypress/integration/file.js -> cypress/integration/file.cy.js

[2022-06-06 01:28] #107 closed

[2022-06-27 17:17] alexeyr-ci1 opened #112 "Add integration tests for Rails 6/7"
There are currently integration tests for Rails 3.2, 4.2 and 5.2, but not for the newer versions.

[2022-07-04 11:09] alexeyr-ci1 opened #113 "Split up experimental options"
Currently experimental options are enabled/disabled all at once. I think it makes sense to separate it into `experimental_use_npm_package` and `experimental_use_vcr_middleware` (for now) and add other similar options as required.

[2022-07-27 10:05] bmulholland commented on #26
Very slow reply but here's how they do it: https://github.com/testdouble/cypress-rails/blob/67edef5c64fa50bec596262c6965b68e901133c7/lib/cypress-rails/manages_transactions.rb

[2022-07-27 10:20] bmulholland opened #114 "Use Rails' transactional fixtures instead of database cleaner"
This builds on https://github.com/shakacode/cypress-on-rails/issues/26, I suppose

Rails has built-in transactional fixtures, which should mean database cleaner is never needed: https://anti-pattern.com/transactional-fixtures-in-rails

As far as I can tell, this just means including `ActiveRecord::TestFixtures`, then calling `setup_fixtures` and `teardown_fixtures`.

[2022-07-27 11:13] bmulholland commented on #114
I tried but ran into issues with threading. Specifically, I'd get errors like `Read: #<ActiveRecord::ActiveRecordError: Cannot expire connection, it is owned by a different thread: #<Thread:0x0000000111657040@puma srv tp 004` and `#<ActiveRecord::ConnectionTimeoutError: could not obtain a connection from the pool within 5.000 seconds (waited 5.003 seconds); all pooled connections were in use>`

He

[2022-07-28 09:39] bmulholland commented on #13
The eval is required because the approach is to have files (in `app_commands`) that are executed. What about changing to a central switch statement that runs the necessary code? That would be more explicit, too: all commands would go through a central place.

[2022-08-26 15:32] RookTKO opened #115 "Issue setting up VCR"
I followed the current instruction written in the README but I'm getting an error in cypress when I follow along and do the following:

[code]

Error I get is:

Error: Webpack Compilation Error
./cypress/support/index.js
Module not found: Error: Can't resolve 'cypress-on-rails/support/index.js'

My question is where does this mysterious cypress-on-rails folder supposed to reside because it seems l

[2022-08-26 16:07] RookTKO commented on #115
I never installed the node package associated with it.

Running:
[code]

Fixed my issue.

[2022-08-26 16:07] #115 closed

[2022-09-27 14:57] d4rky-pl opened #116 "Consider Playwright support (or playwright-on-rails)"
I was able to successfully reuse your library to work with Playwright. The only thing required was [porting Cypress commands to Playwright](https://twitter.com/nerdblogpl/status/1574764868581965825). You should consider either forking this library and changing the naming or creating a common core and make both libraries swappable :)

[2022-10-12 07:26] justin808 commented on #116
@Romex91 @lukgni, we somehow need to make this happen!